
<!DOCTYPE html>
<html lang="en">
<meta property="og:description" content="There are stars: A generative story told through collaboration" />
<meta property="og:type" content="website" />
<meta name="author" content="Liza Daly" />
<meta property="og:title" content="There are stars" />

<head>
    <title>There {{ "is" if stars == 1 else "are" }} {{ stars|numword }} star{{ "" if stars == 1 else "s" }}</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: auto;
            background:rgb(219, 219, 219);
        }
        body {
            font-family: "gill sans", sans-serif;
            font-size: 22px;
        }
        a {
            color: rgb(255, 246, 236);
        }
        main {
            margin: 5vw 20vw 20vh 20vw;
            line-height: 1.6rem;
        }

        @media (max-width: 700px) {
            main {
                margin: 5vw 5vw;
            }
        }
        h1 {
            margin: 0;
            font-weight: normal;
        }
        h1, h2, h3 {
            line-height: 1.8rem;
            font-weight: normal;
        }
        h2, h3 {
            margin-top: 2rem;
            font-weight: normal;
        }
        h3 {
            text-align: center;

        }
        header {
            height: 20vh;
            background: radial-gradient(circle at 100%, rgb(38, 36, 77), #333 50%, rgb(15, 15, 16) 75%);
            color: rgb(255, 246, 236);
            margin: 0;
            padding: 2rem;
        }
        footer {
            margin: 5vh 20vw;
        }
        .star {
            position: absolute;
            opacity: 0.5;
            color: rgb(255, 246, 236);
        }
        .star:before {
            content: '•';
        }

    </style>
</head>

<body>
    <header>
        <h1>There {{ "is" if stars == 1 else "are" }} {{ stars|numword }} star{{ "" if stars == 1 else "s" }}</h1>

        <p>
            This collaborative story was told {{ repo.updated_at | humanize_naturaldate }}. <a href="https://github.com/lizadaly/there-are-stars">How to participate</a>.
        </p>

    </header>
    <main>

        <section>
        <h3>Prologue</h3>
            <p>
                You started this journey over {{ repo.created_at | humanize_naturaldelta }} ago.
               You left from your {{ you.home.place }}. It was a {{ you.weather }} day.
            </p>
            <p>
                To help others follow you, you lay behind you a winding path of {{ you.stone }}
                cobblestones until your pockets were empty of stones.
            </p>

            {% set ns = namespace(path=you.stone, star_count=0) %}

            {% for days, groups in visitors|groupby('visited')%}
            <section>
            <h3>Chapter {{ loop.index }} <br><em>{{ days.day }} {{ days.strftime('%B') }}</em></h3>


            {% for visitor in groups %}
                <p>
                    {{ visitor.home.preposition | capitalize }} {{ visitor.home.place }} along the {{ ["way", "route", "path", "road"]|random }}, a{% if visitor.occupation.startswith(('a', 'o', 'i', 'e', 'u'))%}n{% endif %}

                    {{ visitor.occupation }}

                    {% if ns.star_count > 0 %}
                        observed {{ ns.star_count|numword }} new star{{ "" if ns.star_count == 1 else "s"}} in the sky
                    {% else %}
                        felt a stirring
                    {% endif %}

                    and decided to follow the {{ ns.path }} path.
                    They set out on a {{ visitor.weather }} {{ ["day", "morning", "afternoon", "evening"]|random }}.


                </p>

                {% if loop.last %}
                <p>
                    After a time, the {{ visitor.occupation }} noticed that the path
                    had become {{ ["thin", "trampled", "faded", "muddied"]|random }} and hard to follow. They started a new trail with {% if visitor.trail_type == "flower" %}
                        delicate plantings of {{ visitor.flower }} flowers
                        {% set ns.path = visitor.flower %}
                    {% elif visitor.trail_type == "metal" %}
                        a shiny line of {{ visitor.metal }} coins
                        {% set ns.path = visitor.metal %}
                    {% endif %}

                    until their pockets were empty of
                    {% if visitor.trail_type == "flower" %}
                        seeds.
                    {% elif visitor.trail_type == "metal" %}
                        metal.
                    {% endif %}
                </p>
                {% endif %}

                {% set ns.star_count = ns.star_count + 1 %}
            {% endfor %}
            </section>
        {% endfor %}



        <section>
        <h3>Epilogue</h3>

        <p> After a long journey, {% if stars > 1 %}your friends{% else %} you {% endif %} arrived at your sanctuary by the sea.
            {% if stars > 1 %}
                This is how there came to be {{ stars|numword }} new star{{ "" if stars == 1 else "s" }} in the sky.
            {% else %}
                Perhaps the next time others will follow.
            {% endif %}

        </p>

        </section>
    </main>
    <footer>
    <a href="https://github.com/lizadaly/there-are-stars" style="color: black">About this story</a>
    </footer>
    <script>
    const stars = {{ visitors|length }};
    const header = document.querySelector('header');

    function rand(min, max) {
        return Math.random() * (max - min) + min;
    }

    for (let i=0; i < stars; i++) {
        const star = document.createElement('div');
        star.classList.add('star');
        const left  = parseInt(rand(0, header.clientWidth), 10).toString();
        const top = parseInt(rand(0, header.clientHeight, 10)).toString();
        star.style.left = `${left}px`;
        star.style.top = `${top}px`;
        document.body.append(star);
    }
    </script>
</body>

</html>