

<!DOCTYPE html>
<html lang="en">

<head>
    <title>There are {{ count }} stars</title>
    <style>
        body {
            font-family: hoefler, georgia, serif;
            font-size: 18px;
        }

        main {
            margin: 5vw 20vw 20vh 20vw;
            line-height: 1.6rem;
        }

        @media (max-width: 700px) {
            main {
                margin: 5vw 5vw;
            }
        }
        h1, h2, h3 {
            line-height: 1.8rem;
            font-weight: normal;
        }
        h2, h3 {
            font-style: italic;
        }
        header {
            margin-bottom: 3em;
        }
        footer {
            margin: 5vh 20vw;
        }
    </style>
</head>

<body>
    <main>
        <header>
            <h1>There are {{ count }} stars</h1>
            <h2>A collaborative story.</h2>
            This story was told {{ repo.updated_at | humanize_naturaldate }}. <a href="https://github.com/lizadaly/there-are-stars">How to participate</a>.

        </header>


        <section>
        <h3>Prologue</h3>
            <p>
                You started this journey over {{ repo.created_at | humanize_naturaldelta }} ago.
               You left from your home {{ you.home.preposition }} {{ you.home.place }}. It was a {{ you.weather }} day.
            </p>
            <p>
                To help others follow you, you lay behind you a winding path of {{ you.stone }}
                cobblestones until your pockets were empty of stones.
            </p>

            {% set ns = namespace(path=you.stone) %}

            {% for days, groups in visitors|groupby('visited')%}
            <section>
            <h3>Chapter {{ loop.index }}: {{ days.day }} {{ days.strftime('%B') }} </h3>


            {% for visitor in groups %}
                <p>
                    {{ visitor.home.preposition | capitalize }} {{ visitor.home.place }} along the {{ ["way", "route", "path", "road"]|random }}, a{% if visitor.occupation.startswith(('a', 'o', 'i', 'e', 'u'))%}n{% endif %} {{ visitor.occupation }} observed a new
                    star in the sky and decided to follow it.
                    They set out on a {{ visitor.weather }} day.

                    They followed the {{ ns.path }} path.
                </p>

                {% if loop.last %}
                <p>
                    As the day faded, the {{ visitor.occupation }} noticed that the path
                    had become thin and hard to follow. They started a new trail with {% if visitor.trail_type == "flower" %}
                        delicate plantings of {{ visitor.flower }} flowers
                        {% set ns.path = visitor.flower %}
                    {% elif visitor.trail_type == "metal" %}
                        a shiny line of {{ visitor.metal }} coins
                        {% set ns.path = visitor.metal %}
                    {% endif %}

                    until their pockets were empty of
                    {% if visitor.trail_type == "flower" %}
                        seeds.
                    {% elif visitor.trail_type == "metal" %}
                        metal.
                    {% endif %}
                </p>
                {% endif %}

            {% endfor %}
            </section>
        {% endfor %}



        <section>
        <h3>Epilogue</h3>

        <p> After a long journey, they arrived at their sanctuary by the sea.
            This is how there came to be {{ count }} new stars in the sky.

        </p>

        </section>
    </main>
    <footer>
    <a href="https://github.com/lizadaly/there-are-stars">About this story</a>
    </footer>

</body>

</html>